*{
    margin: 1;
    padding: 2;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.titulo{
    background-color: blueviolet;
    border-radius: 1.5rem;
}
.bloques{
    border: .2rem black dotted;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 1.5rem;
}
.box{
    display: inline-block;
    background-color: blueviolet;
    width: 15rem;
    height: 2.5rem;
    font-size: 2.4rem;
    color: whitesmoke;
}
